@{
    ViewData["Title"] = "Test";
}
<h1>@ViewData["Title"]</h1>

@section CustomCss{
    <link href="~/css/Test.css" rel="stylesheet" />
}

@section CustomJs
{
    <script src="~/js/Test.js"></script>
}

<p>Test button check</p>


<button class="testB" type="button">Hello</button>

