@{
    ViewData["Title"] = "Menu";
}
<body>
    @section CustomCSS {
        <link href="~/css/menu.css" rel="stylesheet"   />
    }
    <h1>Special Meanu</h1>
    <div class="Content">

        <div id="container">


            <div class="ContentBox" id="box1">Special</div>
            <div class="ContentBox" id="box2">Special</div>
            <div class="ContentBox" id="box3">Special</div>
            <div class="ContentBox" id="box4">Special</div>
            <div class="ContentBox" id="box5">Special</div>
            <div class="ContentBox" id="box6">Special</div>
            <div class="ContentBox" id="box7">Special</div>
            <div class="ContentBox" id="box8">Special</div>
            <div class="ContentBox" id="box8">Special</div>
            <div class="ContentBox" id="box9">Special</div>
            




        </div>

        <h1>Veg Meanu</h1>
        <div id="container1">


            <div class="ContentBox" id="box1">Pure-Veg</div>
            <div class="ContentBox" id="box2">Pure-Veg</div>
            <div class="ContentBox" id="box3">Pure-Veg</div>
            <div class="ContentBox" id="box4">Pure-Veg</div>
            <div class="ContentBox" id="box5">Pure-Veg</div>
            <div class="ContentBox" id="box6">Pure-Veg</div>
            <div class="ContentBox" id="box7">Pure-Veg</div>
            <div class="ContentBox" id="box8">Pure-Veg</div>
            <div class="ContentBox" id="box8">Pure-Veg</div>
            <div class="ContentBox" id="box9">Pure-Veg</div>
            <div class="ContentBox" id="box10">Pure-Veg</div>
            <div class="ContentBox" id="box11">Pure-Veg</div>
            <div class="ContentBox" id="box12">Pure-Veg</div>
            <div class="ContentBox" id="box13">Pure-Veg</div>
            <div class="ContentBox" id="box14">Pure-Veg</div>
            <div class="ContentBox" id="box15">Pure-Veg</div>
            <div class="ContentBox" id="box16">Pure-Veg</div>
            <div class="ContentBox" id="box17">Pure-Veg</div>
            <div class="ContentBox" id="box18">Pure-Veg</div>
            <div class="ContentBox" id="box19">Pure-Veg</div>
            <div class="ContentBox" id="box20">Pure-Veg</div>
            <div class="ContentBox" id="box21">Pure-Veg</div>
            <div class="ContentBox" id="box22">Pure-Veg</div>
            <div class="ContentBox" id="box23">Pure-Veg</div>
            <div class="ContentBox" id="box24">Pure-Veg</div>
            <div class="ContentBox" id="box25">Pure-Veg</div>
            <div class="ContentBox" id="box26">Pure-Veg</div>
            <div class="ContentBox" id="box27">Pure-Veg</div>
            



        </div>

        <h1>Non-Veg Meanu</h1>

        <div id="container2">


            <div class="ContentBox" id="box1">Non-Veg</div>
            <div class="ContentBox" id="box2">Non-Veg</div>
            <div class="ContentBox" id="box3">Non-Veg</div>
            <div class="ContentBox" id="box4">Non-Veg</div>
            <div class="ContentBox" id="box5">Non-Veg</div>
            <div class="ContentBox" id="box6">Non-Veg</div>
            <div class="ContentBox" id="box7">Non-Veg</div>
            <div class="ContentBox" id="box8">Non-Veg</div>
            <div class="ContentBox" id="box8">Non-Veg</div>
            <div class="ContentBox" id="box9">Non-Veg</div>
            <div class="ContentBox" id="box10">Non-Veg</div>
            <div class="ContentBox" id="box11">Non-Veg</div>
            <div class="ContentBox" id="box12">Non-Veg</div>
            <div class="ContentBox" id="box13">Non-Veg</div>
            <div class="ContentBox" id="box14">Non-Veg</div>
            <div class="ContentBox" id="box15">Non-Veg</div>
            <div class="ContentBox" id="box16">Non-Veg</div>
            <div class="ContentBox" id="box17">Non-Veg</div>



        </div>





    </div>




</body>